{% extends 'base.html' %}
<!------>
{% block title %}
หน้าแรก
{% endblock %}

{% block content %}
<!-- Content Row -->

<div class="row">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">รายชื่อโรงพยาบาล</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for hospital in hospitals %}
      <tr>
        <td>#</td>
        <td>
          <a href="{% url 'hospital' %}">{{hospital.hospital_name}}</a>
        </td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}